
body {
    background-image: url(https://img.freepik.com/free-vector/graph-chart-with-moving-up-arrow-stock-market-financial-investment-diagram-blue-background_56104-1814.jpg?w=360
   );
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

  h1 {
    color: #0077cc;
    font-size: 32px;
    margin-top: 50px;
    text-align: center;
  }

  p.normal {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
  }

  p.attractive {
    color: #ff6660;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }