
body{
	margin: auto;
}
h1{
	font-size: 3em;
	letter-spacing: 1px;
	font-weight: bold;
	font-family: 'Montserrat',sans-serif;
	background:url(https://images.unsplash.com/photo-1618022325802-7e5e732d97a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=448&q=80);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: text 7.5s linear infinite;

}
@keyframes text {
	from {background-position: 0% 50%;}
	to {background-position: 100% 100%}
}